*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
.container{
    width: 70%;
    height: 80%;
    background-color: rgba(0, 0, 255, 0.139);
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 10px;
}
.box1{
    height: 100%;
    width: 25%;
    background-color: rgba(255, 166, 0, 0.692);
    position: absolute;
   border-top-left-radius: 10px;
   border-end-start-radius: 10px;
}

.box2{
    height: 85%;
    width: 40%;
    /* background-color:brown; */
    position: absolute;
    left: 10%;
    top: 8%;
    background-image: url(https://images.unsplash.com/photo-1495001258031-d1b407bc1776?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.box3{
    height: 80%;
    width: 45%;
    background-color: white;
    position: absolute;
    right: 5%;
    top: 11%;
    border-top-right-radius: 5px;
    border-end-end-radius: 5px;
}
.btn1{
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 10px;
    background-color: #1c0984;
    color: white;
    border: 1px solid #1c0984;
    font-weight: 900;
}
.btn1:hover{
    background-color:rgba(144, 144, 236, 0.769) ;
    cursor: pointer;
}
.ri-visa-fill{
    position: absolute ;
    top: 13%;
    left: 5%;
}
.btn2{
    position: absolute;
    top: 10%;
    left: 36%;
    padding: 10px;
    background:linear-gradient( 45deg, rgba(255, 0, 0, 0.744), rgba(255, 166, 0, 0.863)) ;
    color: white;
    font-weight: 900;
    border: 1px solid #e46d185b;
}
.btn2:hover{
    background-color:rgba(221, 87, 57, 0.621) ;
    cursor: pointer;
}
.ri-mastercard-fill{
    position: absolute;
    top: 13%;
    left: 32%;
}
.btn3{
    position: absolute;
    top: 10%;
    left: 73%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 32, 222);
    font-size: 20px;
    border: 1px solid #1c0984;
    font-weight: 900;
}
.btn3:hover{
    background-color:rgba(88, 88, 207, 0.769) ;
    cursor: pointer;
}
span{
    color: #1c0984;
    font-family: Arial, Helvetica;
    font-weight: 900;
    font-size: 20px;
}
.ri-paypal-fill{
    position: absolute;
    top: 13%;
    left: 69%;
}
h6{
    color: rgba(0, 0, 0, 0.573);
}

#HN{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 12px;
    font-family: Helvetica;
}
#name{
    position: absolute;
    top: 35%;
    left: 10%;
    border: none;
    background: transparent;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.479);
}
.ri-user-line{
    position: absolute;
    top: 35%;
    left: 43%;

}

#CN{
    position: absolute;
    top: 43%;
    left: 10%;
    font-size: 12px;
    font-family: Helvetica;
}
#cdno{
    position: absolute;
    top: 48%;
    left: 10%;
    border: none;
    background: transparent;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.479);
}
.ri-bank-card-fill{
    position: absolute;
    top: 47%;
    left: 48%;
}
#ED{
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 12px;
    font-family: Helvetica;
}
#edt{
    position: absolute;
    top: 65%;
    left: 10%;
    border: none;
    background: transparent;
    border-bottom: 1.5px solid rgb(128, 128, 128, 0.479);
}
.ri-calendar-line{
    position: absolute;
    top: 63%;
    left: 48%;

}
#CC{
    position: absolute;
    top: 60%;
    left: 65%;
    font-size: 12px;
    font-family: Helvetica;
     border: none;
    background: transparent;
    border-bottom: 0px solid rgb(128, 128, 128, 0.479)
}
#b1{
    position: absolute;
    top: 65%;
    left: 65%;
    padding: 5px;
    width: 20px;
    
}
#b2{
    position: absolute;
    top: 65%;
    left: 72%;
    padding: 5px;
    width: 20px;
}
#b3{
    position: absolute;
    top: 65%;
    left: 79%;
    padding: 5px;
    width: 20px;
}
#chkbx{
    position: absolute;
    top: 80%;
    left: 10%;
}
#check{
    position: absolute;
    top: 80%;
    left: 14%;
}
.btn4{
    position: absolute;
    top: 90% ;
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 102, 0, 0.689);
    border: none;
    color: white;
    border-end-end-radius: 5px;
}
.btn4:hover{
    background-color: #1b0984d3;
    color:rgb(217, 90, 16);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}